@import url('../../styles/components.css');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f9;
    color: #333;
    font-family: var(--texto-inter);
}

.conteudo {
    padding: 16px;
}

.cursos-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.cursos-topo h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.cursos-mais {
    border: none;
    background: transparent;
    font-size: 1.3rem;
    cursor: pointer;
}

.curso {
    background-color: #ffffff;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
}

.curso-imagem {
    background-color: #bfbfbf;
    height: 80px;
}

.curso-info {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.progresso {
    font-size: .75rem;
    color: #777;
}

.curso-titulo {
    font-size: .85rem;
    font-weight: 700;
}

.curso-subtitulo {
    font-size: .8rem;
    color: #555;
}

.curso-info button {
    margin-top: 6px;
    align-self: flex-end;
    padding: 4px 10px;
    border-radius: 4px;
    border: none;
    font-size: .75rem;
    background-color: var(--cor-texto-azul-2);
    color: var(--cor-branca);
    cursor: pointer;
}


.artigos-instagram {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.artigos h2,
.instagram h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.artigos-caixa {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.instagram-caixa {
    display: block;
    width: 100%;
    height: 770px;
    border-radius: 8px;
    background-color: var(--cor-texto-azul-2);
}

/* Card pessoa */
.card-pessoa {
    padding: 12px 24px;
    width: 320px;
    background-color: var(--amarelo);
}

.card-pessoa-header {
    display: flex;
    justify-content: space-between;
}

.card-botao {
    background-color: transparent;
    color: var(--cor-branca);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.card-botao.sair {
    background-color: rgb(158, 15, 15);
    letter-spacing: 1.03px;
    padding: 4px 16px;
    text-transform: capitalize;
    border-radius: 4px;
}


@media (max-width: 900px) {
    .artigos-instagram {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .conteudo {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .conteudo {
        padding: 8px;
    }
}

@media (min-width: 1440px) {
}
