@import url('../components.css');


header {
    display: flex;
    padding: 40px;
}

header img:hover {
    filter: invert(1);
}

/* Layout principal */
main {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--texto-inter);
    margin-bottom: 24px;
}

/* Container geral */
.container-forms {
    display: flex;
    gap: 0;
    max-width: 988px;
    border-radius: 24px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.3);
}

/* Imagem lateral */
.container-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 24px 0 0 24px;
}

/* Formulário */
.container-cadastro {
    background-color: var(--fundo-2);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
    max-width: 500px;
    border-radius: 0 24px 24px 0;
}

.logo {
    color: var(--cor-texto-azul);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1.07px;
}

.logo img {
    width: 75px;
}

.cadastro-topo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cadastro-topo .cadastro-titulo {
    color: var(--cor-texto-azul);
    font-size: 1.5rem;
    font-weight: 700;
}

.cadastro-topo .cadastro-texto {
    color: var(--fundo-5);
    font-size: .87rem;
}

.cadastro-forms {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.forms-linha {
    display: flex;
    gap: 12px;
    width: 100%;
}

.forms-linha .forms-input {
    flex: 1;
}

.forms-input {
    padding: 12px 16px;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.forms-input::placeholder {
    font-size: 1rem;
    color: var(--fundo-5);
}

.forms-input.botao-forms {
    background-color: var(--cor-texto-azul);
    border: none;
    color: var(--cor-branca);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.forms-termos {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: .8rem;
}

/* Login */
.login-opcoes {
    width: 100%;
    max-width: 424px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .85rem;
    color: var(--fundo-5);
}

.login-opcoes .lembrar-me {
    display: flex;
    align-items: center;
    gap: 6px;
}

.login-opcoes a {
    font-size: .85rem;
}

/* --- Responsividade --- */
@media (max-width: 1024px) {
    .container-forms {
        width: 80%;
        margin: 0 auto;
        max-width: fit-content;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    .container-cadastro {
        padding: 24px;
        max-width: 420px;
    }

    .forms-input {
        padding: 10px 14px;
        font-size: .95rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    header {
        padding: 24px;
    }

    .cadastro-titulo {
        font-size: 1.3rem;
    }

    .cadastro-texto,
    .forms-input,
    .mini-texto-forms {
        font-size: .8rem;
    }

    .logo {
        font-size: 14px;
    }

    .container-cadastro {
        border-radius: 24px;
    }

    .forms-input.botao-forms {
        width: 95%;
        margin: 0 auto;
    }

    .forms-linha {
        flex-direction: column;
        gap: 10px;
    }

    .forms-termos {
        width: 95%;
        margin: 0 auto;
        text-align: left;
    }

    .forms-termos br {
        display: none;
    }

    .forms-termos label {
        font-size: .75rem !important;
        line-height: 18px !important;
    }

    .container-forms {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .container-img {
        display: none;
    }
}

@media (max-width: 450px) {
    .container-cadastro {
        width: 80vw;
    }
}