body {
    background-color: #ddd;
}

.cabecalho {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(100% - 24px);
    margin-top: 12px;
    position: absolute;
    top: 12px;
    z-index: 2;

}

.cabecalho div {
    width: fit-content;

    background-color: var(--cor-branca);
    font-family: var(--texto-inter);
    box-shadow: 0 2px 7px rgba(255, 255, 255, 0.611);



    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 12px 8px;
}

.cabecalho div h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7px;
}

.cabecalho div h3 {
    margin-top: 16px;
    font-size: 1rem;
    color: var(--preto);
    letter-spacing: 7px;
    font-weight: 400;
    text-transform: uppercase;

}

.cabecalho div p {
    line-height: 16px;
    letter-spacing: 1.07px;
    font-size: .75rem;
    text-align: center;
}

.cabecalho div img {
    width: 160px;
    height: 100px;
}

.cabecalho .navegacao {
    display: flex;
    background-color: var(--cor-texto-azul);
    box-shadow: 0 2px 7px rgba(255, 255, 255, 0.611);

    align-items: center;
}

.cabecalho .navegacao a {
    padding: 24px 32px;

    text-transform: uppercase;
    font-family: var(--texto-inter);
    text-decoration: none;
    color: var(--cor-branca);
    font-size: 1rem;
    letter-spacing: 1.27px;
    transition: .3s ease-in;

    &:hover {
        background-color: var(--cor-texto-verde);
    }

    &.amarelo {
        background-color: var(--amarelo);
    }
}

/* Cabecalho Aluno */

.cabecalho-aluno {
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    color: #fff;
    margin-bottom: 16px;
}

/* Primeira linha 1 */
.navbar-linha1 {
    background-color: var(--cor-texto-azul);
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha1-esquerda {
    display: flex;
    align-items: center;
    gap: 12px;
}

.linha1-esquerda .logo {
    width: 48px;
    height: auto;
}

.linha1-esquerda h1 {
    font-size: 1rem;
    font-weight: 600;
}

.linha1-direita {
    display: flex;
    align-items: center;
    gap: 16px;
}

.linha1-direita .config {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: var(--cor-branca);
    font-weight: 500;

    & img {
        filter: invert(1);
    }
}

.perfil-foto {
    width: 60px;
    height: 60px;
    background-color: #dcdcdc;
    border-radius: 4px;
}

.perfil-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.perfil-textos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    font-family: var(--texto-inter);
}

.perfil-textos .user-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.perfil-textos .config {
    font-size: 0.75rem;
    text-decoration: none;
}

/* Segunda Linha */
.navbar-linha2 {
    background-color: #FED096;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-linha2 .menu {
    display: flex;
    gap: 16px;
}

.navbar-linha2 .menu a {
    font-size: 1rem;
    text-decoration: none;
    color: #111;
}

.navbar-linha2 .menu a:hover {
    text-decoration: underline;
}

/* Search */
.search-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 999px;
    border: 1px solid #555;
    padding: 4px 12px;
    gap: 6px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.8rem;
}

.search-box .search-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
}



@media (max-width: 1340px) {
    .cabecalho .navegacao a {
        font-size: .75rem;
        padding: 20px 28px;
    }
}

@media (max-width: 1200px) {
    .cabecalho {
        margin: 12px;
    }

    .cabecalho div h2 {
        font-size: 1.75rem;
    }

    .cabecalho div img {
        width: 130px;
        height: 70px;
    }

    .cabecalho .navegacao a {
        padding: 16px;
        font-size: .75rem;
        line-height: 16px;

    }
}

@media (max-width: 768px) {
    .cabecalho {
        justify-content: flex-start;
    }

    .cabecalho .navegacao {
        display: none;
    }

    .cabecalho div img {
        width: 70px;
        height: 40px;
    }

    .cabecalho div h2 {
        font-size: 1.25rem;
    }

    .cabecalho div h3 {
        margin-top: 12px;
        font-size: .75rem;
    }

    .cabecalho div p {
        font-size: .5rem;
    }



    .navbar-linha2 {
        padding: 24px 12px 12px 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .navbar-linha2 .menu {
        gap: 12px;
        justify-content: center;
    }

    .search-box {
        width: 100%;
    }

    .search-box input {
        flex: 1;
        width: 100%;
    }

    @media (max-width: 520px) {
        .navbar-linha1 {
            padding: 12px;
        }

        .navbar-linha2 {
            padding: 16px 10px;
        }

        .linha1-esquerda {
            gap: 8px;
        }

        .linha1-esquerda .logo {
            width: 32px;
        }

        .perfil-foto {
            width: 36px;
            height: 36px;
        }

        .linha1-esquerda h1 {
            font-size: .77rem;
        }

        .linha1-direita {
            gap: 8px;
        }

        .perfil-textos .config {
            font-size: .53rem;
        }
        
        .perfil-textos .user-name {
            font-size: .67rem;
        }

        .navbar-linha2 .menu {
            gap: 10px;
        }
    }

    @media (max-width: 480px) {
        .navbar-linha2 .menu a {
            font-size: .75rem;
        }
    }
}

@media (min-width: 768px) {
    .linha1-esquerda .logo {
        width: 75px;
    }

    .linha1-esquerda h1 {
        font-size: 1.5rem;
    }
}