.rodape {
    padding: 36px 0;
    background-color: var(--cor-texto-azul);
    color: var(--cor-branca);
    font-family: var(--texto-inter);
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.rodape-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.rodape-logo h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 16px;
    letter-spacing: 7px;
}

.rodape-logo h2 {
    font-size: 2rem;
    letter-spacing: 1.7px;
    font-weight: 700
    
}

.rodape h4 {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.07px;
}

.rodape-logo p {
    font-size: .75rem;
    letter-spacing: 1.03px;

}

.logo-rodape {
    width: 120px;

}
.rodape-contatos {
    padding: 12px 0;
    width: 100%;

    border-top: 1px solid var(--cor-branca);
    border-bottom: 1px solid var(--cor-branca);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-contatos ul {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.rodape-contatos ul li img {
    width: 25px;
}