.home {
    padding: 147px 0;
    background-color: var(--fundo-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.home h2 {
    font-family: var(--texto-istok-web);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.home p {
    font-family: var(--texto-inter);
    letter-spacing: 1.2px;
    font-size: 1rem;
}

.home .botoes {
    margin-top: 40px;
    display: flex;
    gap: 32px;
}

.home .botoes .botao {
    background-color: var(--fundo-5);
    color: var(--cor-branca);
    padding: 24px 16px;
    font-size: .75rem;

    font-family: var(--texto-montserrat);
    font-weight: 700;
    letter-spacing: 1.17px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media (max-width:768px) {
    .home {
        padding: 81.5px 0;
    }

    .home h2 {
        font-size: 2rem;
    }
    .home .botoes  {
        margin-top: 16px;
        flex-direction: column;
        gap: 16px;
    }

    .home .botoes .botao {
        padding: 16px 12px;
        font-size: .75rem;
    }
}
