.nossos-voluntarios {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.nossos-voluntarios h2 {
    font-family: var(--texto-istok-web);
    color: var(--cor-texto-azul);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    align-self: center;
}

.nossos-voluntarios .voluntarios-content-1 {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.voluntarios-content-img {
    width: 100%;
    height: 456px;

    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.voluntarios-content-texto {
    font-family: var(--texto-inter);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.voluntarios-content-texto h3 {
    font-family: var(--texto-istok-web);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.voluntarios-content-texto p {
    font-size: 1.25rem;
    letter-spacing: 1.07px;
    line-height: 36px;
}

.voluntarios-content-2 {
    padding: 48px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.voluntarios-content-2 p {
    font-family: var(--texto-inter);

    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 1.07px;
    line-height: 36px;

    align-self: center;
}

.voluntarios-content-2 .botao {
    padding: 16px 24px;
    background-color: var(--fundo-5);
    color: var(--cor-branca);
    letter-spacing: 1.27px;
    font-weight: 600;

    width: fit-content;
    align-self: center;

    font-size: 1rem;
    border-radius: 4px;
    border: none;
}

@media (max-width:768px) {
    .nossos-voluntarios {
        padding: 16px;
    }

    .nossos-voluntarios .voluntarios-content-1 {
        flex-direction: column;
    }

    .voluntarios-content-img {
        height: 300px;
    }

    .voluntarios-content-texto p {
        font-size: 1rem;
        text-align: justify;
    }

    .nossos-voluntarios h2 {
        font-size: 1.5rem;
        line-height: 32px;
        text-align: center;
    }

    .voluntarios-content-2 {
        padding: 0px;
    }

    .voluntarios-content-2 p {
     font-size: .75rem;
     line-height: 28px;
     text-align: justify;
}

}