.sobre-nos {
    background-color: var(--cor-branca);
    padding: 48px;
    display: flex;
    gap: 32px;
}

.sobre-nos .imagem {
    width: 100%;

    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        object-fit: cover;
    }

}

.sobre-nos .sobre-nos-texto {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sobre-nos .sobre-nos-texto h2 {
    font-size: 2rem;
    font-family: var(--texto-istok-web);
    color: var(--cor-texto-azul-2);
    letter-spacing: 1.2px;
    font-weight: 700;

}

.sobre-nos .sobre-nos-texto p {
    font-family: var(--texto-montserrat);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 32px;
}

@media (max-width:768px) {
    .sobre-nos {
        padding: 32px;
    }

    .sobre-nos .imagem {
        display: none;
    }

    .sobre-nos .sobre-nos-texto {
        gap: 0px;
    }

    .sobre-nos .sobre-nos-texto h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sobre-nos .sobre-nos-texto p {
        margin-top: 24px;
        font-size: 1rem;
        text-align: justify;
    }
}