.sobre-nos {
    display: flex;
    gap: 32px;
    padding: 48px;
    flex-wrap: wrap;
    background-color: var(--cor-branca);
    color: var(--cor-texto-azul-2);
    font-family: var(--texto-inter);
}

.sobre-nos .imagem {
    flex: 1 1 300px;
    opacity: 0;
    transform: translateY(40px);
    animation: surgir 0.9s forwards ease-out;
    animation-delay: 0.1s;
}

.sobre-nos .imagem img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    border-radius: 16px;
}

.sobre-nos-texto {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sobre-nos-texto h2 {
    font-size: 2rem;
    font-family: var(--texto-istok-web);
    font-weight: 700;
    opacity: 0;
    transform: translateY(40px);
    animation: surgir 0.9s forwards ease-out;
    animation-delay: 0.3s;
}

.sobre-nos-texto p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    opacity: 0;
    transform: translateY(40px);
    animation: surgir 0.9s forwards ease-out;
}

.sobre-nos-texto p:nth-of-type(1) {
    animation-delay: 0.5s;
}

.sobre-nos-texto p:nth-of-type(2) {
    animation-delay: 0.7s;
}

.sobre-nos-texto p:nth-of-type(3) {
    animation-delay: 0.9s;
}

@keyframes surgir {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:768px) {
    .sobre-nos {
        padding: 32px 24px;
    }

    .sobre-nos .imagem {
        display: none;
    }

    .sobre-nos .sobre-nos-texto {
        gap: 0px;
    }

    .sobre-nos .sobre-nos-texto h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sobre-nos .sobre-nos-texto p {
        margin-top: 24px;
        font-size: 1rem;
        text-align: justify;
    }
}

@media (min-width:1540px) {
    .sobre-nos-texto p {
        font-size: 1.25rem;
        letter-spacing: 1.7px;
        line-height: 32px;
    }
}
